html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:75% sans-serif; *font-size:small; *font:x-small; line-height:1.5em; }
html>body { font-size: 12px; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


 /* Primary Styles
    Author: 
 */

h1, h2, h3, h4, h5, h6, footer strong {
	font-family: 'Neuton', serif;
}

h1 {
	line-height: 36px;
	font-size: 38px;
	margin-bottom: 18px;
}

h2 {
	line-height: 36px;
	font-size: 22px;
	margin-bottom: 18px;
}

h3 {
	line-height: 36px;
	font-size: 27px;
	margin-bottom: 18px;
}

h4 {
	line-height: 36px;
	font-size: 20px;
	margin-bottom: 18px;
}

header { padding: 0 10px; position: relative; }
header h2 { position: absolute; top: 8px; right: 10px;}

body {
	font-family: 'Cantarell', sans-serif;
}

#noSupport,
#mobileNoSupport {
	display: none;
	width: 960px;
	margin: 18px auto 0;
}

#noSupport h1,
#mobileNoSupport h1 {
	line-height: 36px;
	font-size: 20px;
	margin-bottom: 18px;
	text-align: center;
}

#noSupport p,
#mobileNoSupport p {
	line-height: 18px;
	margin-bottom: 18px;
}

#noSupport .promotejs,
#mobileNoSupport .promotejs {
	text-align: center;
}

.no-applicationcache #noSupport {
	display: block;
}

.no-applicationcache #container {
	display: none;
}

html:not(.ios) .ios {
	display: none;
}

html.ios .desktop {
	display: none;
}

html.ios header h2 {
	 width: 100%; text-align: right; padding-right: 75px;
}

#container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

article {
	clear: both;
	margin-top: 18px;
	position: relative;
}

article img {
	float: left;
	margin: 0 10px;
}

article p, article h3, article ul, article ol {
	margin: 0 10px 18px 490px;
}

article ol {
	margin-left: 510px;
}

article ul {
	list-style-position: inside;
	position: relative;
	left: -10px;
}

html.ios article ul {
	margin-left: 510px;
	list-style-position: outside;
	position: relative;
	left: 0;
}

html.ios article ol textarea {
	width: 433px;
	height: 151px;
	line-height: 18px;
}

article p,
footer p {
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

a.bookmarklet {
	font-family: 'Neuton', serif;
	background-color: #222;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 28px;
	font-size: 18px;
	line-height: 36px;
}
a.bookmarklet:link,
a.bookmarklet:visited {
	color: #eee;
}
a.bookmarklet:hover,
a.bookmarklet:active {
	color: #fff;
}

span.instructions {
	font-size: 18px;
	line-height: 36px;
	padding-left: 1em;
}

aside {
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 18px 10px 0;
	background-color: #eee;
}

html.ios aside {
	position: absolute;
	left: 10px;
	top: 648px;
	width: 440px;
}

html.ios aside ul {
	margin: 0 0 0 -20px;
	width: 480px;
}

aside h4 {
	clear: both;
}

aside ul {
	margin: 0;
	width: 960px;
	text-align: center;
}

aside ul a {
	position: relative;
	display: inline-block;
}
aside ul a:nth-child(1) {
	display: block;
}

aside ul.platforms a:first-child {
	height: 72px;
}
aside ul img {
	float: none;
}
aside ul.platforms img {
	width: 74px;
}

aside ul.frameworks a:first-child {
	height: 54px;
}

aside li {
	display: block;
	float: left;
	width: 140px;
	margin: 0 10px 18px;
}

aside li .version {
	display: block;
}

aside p, footer p {
	margin: 0;
	padding-bottom: 18px;
	clear: both;
	text-align: center;
}

html.ios aside h4:first-child,
html.ios aside .platforms {
	display: none;
}

html.ios footer {
	position: absolute;
	left: 10px;
	top: 918px;
	width: 460px;
}

html.ios footer p,
html.ios aside p {
	text-align: left;
}

footer {
	background-color: #eee;
}

footer p {
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 18px 10px;
	font-weight: bold;
	background-color: #444;
	color: #eee;
}

footer div {
	background-color: #444;
}

footer div p {
	background-color: #111;
	color: #ddd;
}

footer strong {
	font-weight: normal;
}

footer a:visited {
	color: #ddd;
}

footer a:hover,
footer a:active {
	color: #93aeed
}

footer .promotejs {
	background-color: #111;
}

footer .promotejs a {
	display: block;
	width: 180px;
	height: 160px;
	margin: 0 auto;
}

/* 
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
	
	.screenshot {
		display: none;
	}
	
	html.ios header {
		width: auto;
	}
	
	html.ios header h1,
	html.ios header h2 { 
		position: static; 
		width: auto;
		text-align: left;
		display: inline;
		padding: 0;
	}
	
	html.ios footer {
		position: static;
		width: auto;
	}
	
	html.ios #container {
		width: 320px;
		height: 600px;
	}
	
	html.ios article {
		padding: 0 10px;
	}
	
	html.ios article ul,
	html.ios article ol,
	html.ios article p, 
	html.ios article h3 {
		margin-left: 0;
		width: auto;
	}
	
	html.ios article ul,
	html.ios article ol {
		margin-left: 20px;
	}
	
	html.ios article ol textarea {
		width: 260px;
		height: 218px;
	}
	
	html.ios aside {
		position: static;
		width: auto;
		margin: 0 -10px;
	}
	
	html.ios aside ul {
		margin: 0 -10px;
		width: auto;
	}
}

